@import url('https://fonts.googleapis.com/css?family=Montserrat');


.background {
    background-image: url(images/mountains.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
}

h1 {
    text-align: center;
    font-size: 400%;
    text-shadow: 3px 3px 15px;
}

.grid {
    width: 80%;
    display: inline-grid;
    margin: 5% 10%;
    grid-column-gap: 30%;
    grid-template-columns: auto auto;
}

.section {
    background-color: #3a735c;
    box-shadow: 3px 3px 15px;
}

.element {
    margin: 7%;
    font-weight: bold;
}

.element input {
    float: right;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border: none;
    height: 20px;
}

.element input:hover {
    box-shadow: 1px 1px 15px black;
}

#compute {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: -14% 45%;
    padding: 15px 25px;
    font-size: 120%;
    font-weight: bold;
    border: none;
    background-color: #333;
    box-shadow: 3px 3px 15px black;
}

#compute:hover {
    background-color: #3a735c;
    color: black;
}

#actors {
    background-color: #3a735c;
    opacity: 0;
    text-align: center;
    font-weight: bold;
    width: 500px;
    margin: auto;
    padding: 25px;
    transition: all 0.8s ease-in-out;
    box-shadow: 3px 3px 15px black;
}

.actor {
    padding: 5px;
    text-transform: capitalize;
    display: grid;
    margin: auto;
    width: 300px;
    grid-template-columns: 100px 100px 100px;
    text-align: right;
}
